<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<div id="nav-placeholder">
</div>
<script>
$(function(){
  $("#nav-placeholder").load("/static/nav.html");
  });
</script>
Hi, in your email, titled <strong>RIICC: Purchase Request</strong>, please include (separately)<br>
1) Your shopping cart, in downloaded html form (save the webpage) or a link<br>
2) A short document justifying why you want to purchase these products, including what each component is for, and how you plan to construct this <br> <br>
We will personally verify with you before placing the order :) Happy Shopping! <br>

<a href='mailto:chennuode2012@gmail.com;tanchienhao@gmail.com;lorraineneo@gmail.com?Subject=RIICC: Purchase Submission'>Open Email</a> <br>

this is purchase
